{% extends "train/layout.html" %}
{% load static %}
{% block title %}
Events
{% endblock %}
{% block body %}
<style>   .addReadMore.showlesscontent .SecSec,
    .addReadMore.showlesscontent #readLess {
        display: none;
    }

    .addReadMore.showmorecontent #readMore {
        display: none;
    }
.addReadMore #readMore:hover,.addReadMore #readLess:hover, .addReadMore #readLess:active, .addReadMore #readMore:active, .addReadMore:focus {
  background-color: var(--color-gray-4);
  text-decoration: none;
  color: inherit;
}
.addReadMore:active {
  top: 2px;
  background-color: var(--color-gray-3);
}
.addReadMore:focus {
  outline: 0;
}
    .addReadMore #readMore,
    .addReadMore #readLess {
      position: relative;
      padding: 0.625rem 1rem 0.5rem 1rem;
      border-radius: 0;
      border: solid 3px var(--color-night);
      background-color: white;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      text-align: center;
      color: inherit;
      cursor: pointer;
      -webkit-appearance: none;
    }

    .addReadMoreWrapTxt.showmorecontent .SecSec,
    .addReadMoreWrapTxt.showmorecontent #readLess {
        display: block;
    }</style>
<div class="hero hero--events">
        <div class="hero__wrap wrap">
          <div class="hero__content">
            <h1 class="hero__title">
              Excercises
            </h1>
          </div>

        </div>
      </div>
      <section class="section">
        <div class="wrap">
          <h2>Excercises:</h2>
          <br>
          <h3>Deadlifts:</h3>

          <p>
            <img src="{% static 'train/deadlift.jpg' %}" alt="Hatha Yoga" class="img-responsive">
          </p>
          <p>

          </p>


          <p  class="addReadMore showlesscontent" >The Deadlift.  The name is synonymous with strength and fitness. The Deadlift workout is the one body-weight exercise which every fitness enthusiast swears by. If it is performed the right way, it hits the majority of muscles and helps build mass in all the right places. <br>
            <br>

            So, can it really replace the squat as the king of exercises? Not yet, but it can build upper and lower body strength like no other strength-training workout can. This article will help you know the following things.<span id="dots">...</span><span id="more"> <br>
              <br>
              <strong>Proper Form For the Deadlift:</strong> <br>

               1.Your feet should be spaced hip-width apart with your grip just outside your legs.<br>
              2.Use an overhand grip.<br>
              3.Your back should be flat—neutral spine—from start to finish.<br>
              4.Your shoulders should be back and down.<br>
              5.The bar should remain in contact with your legs for the entire range of motion.<br>
              6.Your hips and knees should move together to transfer the bar from the ground to an upper-thigh, locked position.<br>
              7.If you can't keep a flat back when setting up to deadlift from the floor, don't lift from the floor! There's no rule that says you have to.<br>

              Elevate the bar on squat-rack pins or jerk boxes to a position in which you can flatten your spine. This great deadlift variation is called a "rack pull," and it's especially good for those with mobility issues that limit their range of motion.<br>

              Since many beginners have mobility issues, like tight hamstrings, I recommend you start with the rack pull and gradually progress to the full-range pull.
              </span></p>


            </section>
        </div>
                                             <!--excercise 2-->
        <section class="section">
          <div class="wrap">


            <h3>Kettlebell Swings:</h3>

            <p>
              <img src="{% static 'train/kettlebell.jpg' %}" alt="Hatha Yoga" class="img-responsive">
            </p>
            <p>
            </p>
            <p  class="addReadMore showlesscontent">The kettlebell swing is a full body exercise that activates over 600 muscles in the body, in particular: the buttocks, legs, hips, core and back.<br>


            For those with knee issues the swing enables you to achieve a full body exercise without the need to bend painful knees.<br>



            I’ve also included information on what weight to use for the kettlebell swing and some kettlebell workouts for you to use to practice.
            <span id="dots">...</span><span id="more1"> <br> <br>
              <strong>How To Do Kettlebell Swings:</strong><br>
              Get the most from kettlebell swings while keeping your risk of injury to a minimum by following these guidelines:<br>

              1.Hold your kettlebell in front of your hips using an overhand grip. Stand with your feet about shoulder-width apart, toes turned slightly outward. Brace your core and pull your shoulders down and back.<br>
              2.Bend your knees slightly, hinge forward from your hips, push your butt back, and lower the kettlebell down between your knees. Do NOT round your lower back.<br>
              3.Drive your hips forward as if you were doing a standing long jump. Use this momentum to swing the kettlebell forward and up to shoulder level. Keep your arms straight.<br>
              4.Using your abs and lats, swing the kettlebell back down and hinge at your hips again. <br>
              5.Transition immediately into another rep. <br>

                </span></p>


              </section>
          </div>
        <section class="section">
          <div class="wrap">
                                  <!--excercise 3-->
            <h3>Pull Ups:</h3>

            <p>
              <img src="{% static 'train/pullups.jpg' %}" alt="Hatha Yoga" class="img-responsive">
            </p>
            <p  class="addReadMore showlesscontent">A pull-up is an upper-body strength exercise. The pull-up is a closed-chain movement where the body is suspended by the hands and pulls up. As this happens, the elbows flex and the shoulders adduct and extend to bring the elbows to the torso. <br>
              Pull-ups use many different muscles of the upper body, including the latissimus dorsi and the biceps brachii.[1] A pull-up may be performed with overhand (pronated), underhand (supinated), neutral, mixed, or rotating hand position. The term chin-up is sometimes used to refer to the pull-up performed with supinated grip.

              <span id="dots">...</span><span id="more2"> <br> <br>
               <strong>Benefits Of The Excercise:</strong><br>
               1. Strengthen the back muscles The pullup is one of the most effective exercises for strengthening the back muscles. <br>
2. Strengthen the arm and shoulder muscles Pullups also strengthen the arm and shoulder muscles. <br>
3. Improve grip strength Pullups also help improve grip strength. <br>
4. Improve overall body strength and fitness level. <br>
5. Improve physical health. <br>
6. Improve mental health. <br>
7. Challenge your muscles. <br>

                  </span></p>



          </div>
        </section>
        <section class="section">
          <div class="wrap">
                                           <!--excercise 4-->
            <h3>Medicine Ball Slams:</h3>

            <p>
              <img src="{% static 'train/medicine ball jpg.jpg' %}" alt="Hatha Yoga" class="img-responsive">
            </p>

            <p class="addReadMore showlesscontent">Stand with your knees slightly bent holding a medicine ball above your head with your arms extended. Bend forward at the waist and use your core muscles to slam the ball against the floor about a foot in front of you. Let your arms follow through so you don't fall forward. Catch the ball on its way back up and repeat.

              <span id="dots">...</span><span id="more3"> <br> <br>
               <strong>How To Do Medicine Ball Slams:</strong><br>
               On the surface, medicine ball slams may look easy. But doing them incorrectly can cause muscle pull and pain. To avoid that, here’s a step by step guide on how to do medicine ball slams: <br>

               1.Stand with your feet shoulder-width apart, knees slightly bent, and hold a 4-6 pound medicine ball in your hand. <br>
2.Lift the medicinal ball overhead with your arms extended. <br>
3.Look straight ahead and inhale. <br>
4.Bend forward at the waist and use your core muscles to throw the ball down in front of your feet with as much force as possible. Contract the abdomen effectively and exhale while doing the exercise. <br>
5.Let the arms follow through the movement to prevent falling. <br>
6.In the end, the heels should be on the floor and knees slightly bent. <br>
7.If it is a bouncy ball, let the ball bounce back, and you catch it. If the ball does not bounce, then keep your abdomen contracted and pick up the ball. <br>
8.Lift the ball back to the starting position, inhale, and slam! <br>
<br>
<strong>What Are The Benefits Of Medicine Ball Slam Workout?</strong><br>
The medicine ball slam is done for developing power, strength, and speed. It works best for triceps, abdomen, shoulders, calves, back, glutes, quads, etc. This exercise increases heartbeat and burns a good number of calories. <br>
<br>
1.It burns calories. <br>
2.It is a full-body exercise . <br>
3.Improves stamina and muscle power . <br>
4.Have shown to improve cardiometabolic stimulus in children . <br>
5.It is great for strength training . <br>
6.Improves functional fitness . <br>
7.Improves eye and body coordination. <br>
8.Burns fat but retains lean muscle. <br>
9.Improves full-body muscle tone. <br>
10.Improves sports performance. <br>


                  </span></p>


          </div>
      </section>
        <section class="section">
          <div class="wrap">
                                             <!--excercise 5-->
            <h3>Split-Leg Goblet Squats:</h3>

            <p>
              <img src="{% static 'train/split leg.jpg' %}" alt="Hatha Yoga" class="img-responsive">
            </p>

            <p class="addReadMore showlesscontent">The goblet squat is a great full-body exercise that builds muscle (particularly in the legs, core, and glutes) and develops cardiovascular fitness. Exercisers of all levels can use the movement as a solid warm-up during a lower body workout or as a way to progress to a
              weighted front squat using a barbell. <br>
              <br>
              As with all squats, the goblet squat targets all the major muscle groups of the lower body in
              a compound fashion. This translates nicely to everyday functional movements, as it mimics squatting down to pick something up off of the bottom shelf at t
              he grocery store, rising out of a chair, or getting out of bed in the morning.
              <span id="dots">...</span><span id="more"> <br> <br>
               <strong>How to Do a Goblet Squat:</strong><br>
               You don't need much to get started with the goblet squat—just a kettlebell or dumbbell and enough space to stand and
move comfortably with your feet roughly hip- to shoulder-distance apart. <br>
<br>
1.Stand with your feet slightly wider than hip-distance apart, your toes angled slightly outward. <br>
2.Hold a kettlebell in both hands at your chest, gripping the handles as though you were cupping a goblet—one hand on either side of the handles. Bend your elbows, so the goblet is positioned right at the center of your chest. <br>
3.Warm up by using a lighter (or no) kettlebell to get a sense of the movement. Then, progress to a heavier weight for your full set. <br>
4.Engage your core and look straight ahead—you want to keep your back neutrally aligned and your eyes facing straight forward throughout the squat. <br>
5.Press your hips back and begin bending your knees to perform the squat. Inhale as you perform this downward phase. <br>
6.Keep the kettlebell close to your body during the movement. <br>
7.Focus on keeping your chest tall as you continue pressing your hips back and lowering down. The goal is to get your hips below parallel with your knees. <br>
8.Make sure your weight remains evenly distributed across your feet or slightly more weighted toward your heels—you shouldn't come up on your toes as you squat. <br>
9.Check your position at the bottom of the squat—your elbows should be positioned on the inside of either knee at the lowest point. This helps ensure that your knees remain aligned with your toes as you move into the deep squat position. <br>
10.Press through your heels and reverse the motion to return to the starting position. Exhale as you rise and press your hips forward at the top of the squat to engage your glutes more fully. <br>
11.Complete a full set and carefully rack the kettlebell. Always avoid dropping weights from a height. Repeat through as many sets as desired. <br>
<br>
 <strong>Other benefits of the goblet squat include:</strong><br>
 <br>
 <strong> 1.Easier for beginners.</strong> <br>
The goblet squat is often easier for beginners than a back squat. This is because it’s a more natural movement that mimics many daily activities, like picking up a heavy object off the floor. <br>
<br>
<strong>2.A more comfortable position.</strong> <br>
Because of the inherent movement of the goblet squat — torso upright, strong core, knees out — you should be more comfortable than with a traditional back squat. Check out this article on how to squat with proper form. <br>
<br>
<strong>3.An easier load on the back.</strong> <br>
In a traditional back squat, the load is on your upper back, placing quite a bit of tension on your lower back. A goblet squat brings the load to the front as a counterbalance. This is easier for the spine to handle and makes it easier to maintain correct posture. <br>
<br>
<strong>4.Extra core activation.</strong> <br>
Because the weight is moved to the front of your body, your core will need to work harder than in a traditional back squat to support the movement. <br>
<br>
<strong>5.Potential to scale.</strong> <br>
While you can start goblet squats with a light weight and see benefits, you can also lift a heavy load during this movement. Here’s a safety tip: Before progressing to a heavier weight, ensure you’re able to perform the squat with correct form and without knee or back pain. <br>




                  </span></p>


          </div>
        </section>
        <section class="section">
          <div class="wrap">
                                          <!--excercise 6-->
            <h3>Lateral Bounds:</h3>

            <p>
              <img src="{% static 'train/lateral boundsjpg.jpg' %}" alt="Hatha Yoga" class="img-responsive">
            </p>

            <p  class="addReadMore showlesscontent">A Lateral Bound is one of the more slower of the three exercises. Essentially, you are lifting up the inside leg and pushing off the ground with the outside leg.  For example, you lift up your left foot, push off with your right foot
              and land on your left foot as far to the left as you can. When you land, there is a “stick,” meaning you hold it on that left foot for a split second to absorb the shock that way. Make sure to bend your knees to help with the force absorption. <br>
              <br>



             The Slalom is the  fastest of the three, but it stays with the winter theme 🙂 .   With the Slalom, you are moving both legs at the same time. Basically, you are hoping to the right,
             then left, with both feet landing at the same time. Feel free to add in the arm swings like you are skiing…and sound effects are always welcome.  Swooosh.  Swooosh.


              <span id="dots">...</span><span id="more5"> <br> <br>
               <strong> How To Do Lateral Bounds:</strong><br>
               Lateral bounds are an athletic-based plyometric exercise which means there are more elements involved compared to the typical resistance-based movement. Below we’ve included step-by-step instructions to ensure safe and proper exercise execution. <br>

<br>
1.Start with a shoulder width stance. <br>
2.Shift your weight onto either leg and dip down into an athletic squat position with the torso hinged forward at the hips. Position the arm on the side of the planted foot straight out to the side and keep the other one bent in front of your chest. <br>
3.Keeping your core tense, drive your toes into the ground then jump sideways and swing both arms in the same direction. Try to land softly onto the other leg by bending the hips and knees to absorb the impact. <br>
4.Reset your position by allowing the non-working leg to briefly make contact with the floor and then repeat the movement. <br>
<br>
 <strong>Lateral Bounds Benefits:</strong> <br>
 Lateral bounds come with a range of benefits that make them a worthy plyometric activity. Here’s why you want to include this exercise in your workouts. <br>
 <br>
<strong> 1.Builds Lower body explosiveness. </strong><br>
Lateral bounds are an athletic-based explosive exercise because it involves triple extension of the lower body joints (hips, knees and ankles). This is a key element in developing and maintaining athletic power. <br>
<br>

<strong>2.Improve athletic movements. </strong><br>
Power, agility, speed, endurance, and body control are crucial aspects of athletic performance. Whether you’re dodging the defense on the gridiron, or skating on ice improving on these will you a better athlete. <br>
<br>
<strong>3.Promotes joint stability and control.</strong> <br>
Jumping side to side seems to have a greater overall effect on the joints compared to jumping up and down. That’s because there’s a greater requirement to stabilize the hips, knees and ankles because of the lateral forces on these joints.
Being able to have control of the joints can make the biggest difference for not only athletes but anyone who engages in any type of physical activity.
But it’s important to note that if you are overweight or not used to the impact of similar movements that involve jumps, you may want to avoid this exercise for the health of your joints. <br>
<br>
<strong>4.Build up your cardio fitness and burn fat.</strong> <br>
No matter where you train, lateral bounds make for a great cardio exercise with no setup at all. Done at an ambitious pace, this activity will get the heart rate up and burn plenty of calories which can help you to burn body fat. <br>
<br>
<strong>5.Train in a different plane.</strong> <br>
If you observe the training habits of other members at your local gym, chances are sagittal plane (front to back) exercises such as lunges, squats, biceps curls are a more popular choice than frontal plane or side to side movements. While we’re not saying everyone should do lateral bounds, it’s beneficial to train in various directions for a balanced and healthy physique.
If you’re an athlete then it’s even more important to train in all three planes (sagittal, frontal and transverse). <br>
<br>

<strong>6.No equipment needed.</strong> <br>
A good pair of training shoes is all you need to perform lateral bounds. Consequently, it makes for a good exercise at home, in a hotel room, and really anywhere.



                  </span></p>


          </div>
        </section>
        <section class="section">
          <div class="wrap">
                                            <!--excercise 7-->
            <h3>Dumbbell Thusksters:</h3>

            <p>
              <img src="{% static 'train/dumbbell thuskster.jpg' %}" alt="Hatha Yoga" class="img-responsive">
            </p>

            <p  class="addReadMore showlesscontent"><strong>What Are Dumbbell Thrusters?</strong><br>
              <br>
              The dumbbell thruster is a compound exercise that combines the movement patterns of a squat and shoulder press. Perform
              dumbbell thrusters by grabbing a pair of dumbbells with a neutral grip (palms facing each other). Lower your body into a squat stance. As you stand, raise the dumbbells overhead with a push press movement.
              With proper form, dumbbell thrusters can increase your heart rate and burn calories. For a unilateral variation, try the single-arm thruster. If you want to practice something other than a dumbbell workout, try the barbell thruster or the kettlebell thruster during your weightlifting routine.
              <span id="dots">...</span><span id="more6"> <br> <br>
               <strong>
                Benefits of Doing Dumbbell Thrusters:</strong><br>
                <br>
        <strong>        1. Dumbbell thrusters are a total-body exercise.</strong> <br>
                The dumbbell thruster activates muscle groups throughout your upper body and lower body—including your hamstrings, glutes, quadriceps, triceps, deltoids, and core muscles. <br>
                <br>
           <strong>     2. Dumbbell thrusters improve muscle symmetry.</strong> <br>
                Dumbbell exercises draw attention to muscle asymmetries you may have developed by favoring one side of your body over the other during exercises using one piece of equipment. <br>
                <br>
           <strong>     3. Dumbbell thrusters are versatile.</strong> <br>
                You can practice dumbbell thrusters during a home workout or at the gym with a personal trainer. With practice, dumbbell
                thrusters can improve other compound exercises such as lunges, deadlifts, pull-ups, and front squats. <br>
                <br>
                <strong>How to Do Dumbbell Thrusters With Perfect Form.</strong><br>
                <br>
                For dumbbell thrusters, begin by using a weight that you can control for 2–3 sets of 10–15 repetitions or 30–60 seconds. Choose a weight that allows you
to maintain good technique throughout all sets and repetitions. <br>
<br>

1. Grab two dumbbells and hold them at shoulder height. Your elbows should remain high and your upper arms should be parallel with the floor. Your posture should be tall, with your feet shoulder-width apart and a slight bend in your knees. Your shoulders should be directly over your hips with a neutral head and neck position. Your chin should remain tucked throughout the movement, as if you were holding an egg under your chin. <br>
2. Evenly distribute your weight and grip the floor with your feet to create a stable position. Pre-tension your shoulders and hips while engaging your core. All repetitions should begin from this position. <br>
3. While keeping the dumbbells high and maintaining a neutral spine, begin to bend your hips, knees, and ankles. Lower until your thighs are parallel or slightly below parallel with the floor. You should only lower as far as you can while maintaining a level pelvis and evenly distributed weight. Pause at the bottom before standing. <br>
4. To begin the upward movement, push your feet into the ground to initiate standing. As you begin to stand, keep your chest high, squeeze your glutes, and allow your knees to straighten and your hips to travel forward. Squeeze your glutes and quadriceps while maintaining a neutral spine. <br>
5. As you reach the top of the movement, allow the momentum of your legs to help drive the dumbbells overhead while performing an explosive overhead press. <br>
6. At the end of each repetition, your shoulders should finish directly over the hips. Imagine that your pelvis is a bucket filled with water and you’re attempting not to spill any of it. <br>
7. Lower the dumbbells back to the starting position, and repeat for your desired number of repetitions or duration of time. <br>



                  </span></p>


          </div>
        </section>
        <section class="section">
          <div class="wrap">
                                       <!--excercise 8-->
            <h3>Burpees:</h3>

            <p>
              <img src="{% static 'train/burpees.jpg' %}" alt="Hatha Yoga" class="img-responsive">
            </p>
            <p  class="addReadMore showlesscontent"><strong>What is a Burpee?</strong><br>
              When it comes to workouts, the burpees exercise is one of the most intense exercises that challenge almost all the muscle groups in your body.It takes its name from the physiologist Royal H. Burpee who invented it as a test of fitness in the 1930s. Originally, it consisted of four different positions and was performed four different times to measure a person's heart rate and how quickly it returned to normal. Burpees exercise became popular after the US Army adopted it as one of
the ways to ascertain the fitness levels of the recruits when the country entered the second world war. A burpee is considered to be an excellent combination
of strength training and aerobics. This means that they not only increase your heart rate but also tone and strengthen your muscles. Though it is usually a combination of a squat thrust and a squat jump, there are several variations of this exercise to make it more
challenging and beneficial.


              <span id="dots">...</span><span id="more7"> <br> <br>
                <strong>What are the benefits of Burpees exercise?</strong><br>
                A burpees exercise has great benefits for your mind and body. Here is a roundup of some of the most important reasons to include a burpee workout in
                your day: <br>
                <br>

                *One of the most important burpee exercise benefits just like vajrasana benefits is that it gives you a total body workout. It strengthens your arms, core, shoulders, glutes, hamstrings, and quads by using your body weight. By making your lower and upper body stronger, burpees minimise the pains and risk of injuries. <br>
                *Since it requires you to do intense exercise in short bursts, a burpee workout is an excellent high-intensity interval training regimen. HIIT is one of the most effective ways to burn body fat fast, especially around your stomach. This helps prevent obesity-related health scares such as high blood pressure, cardiovascular issues, diabetes, neurological problems, etc. <br>
                *One of the most important benefits of burpee workout is that it works your core making it more stable and stronger. This in turn helps in preventing injuries, pains, and postural problems. <br>
                *Another important burpee exercise benefit just like the benefits of squats is that it works on so many groups of muscles at once that it significantly improves your range of motion, coordination, balance, and mobility. This keeps you more energetic, builds your confidence, and helps you achieve more in a day. <br>
                *Another great benefit of burpee workout is that it can be practically done anywhere without needing any expensive equipment. You can do them at home, at the park, and even in your hotel room while you are traveling. <br>
                <br>
                <strong>How to do a Burpee?</strong><br>
                Have you been wondering how to do a burpee but have never gotten around to doing them thinking they are too complicated? Here is an easy-to-understand
                breakdown of the steps involved in a burpee exercise: <br>
                <br>
                1.Stand straight with your arms at your side. <br>
                2.Get into a squat position. Keep your knees bent, back straight, and feet shoulder-width apart. You should know how to do sumo squats for this step. <br>
                3.Using your hands as anchors, jump while thrusting your legs backward. <br>
                4.Land on the floor in a plank position by being on your hands and toes. <br>
                5.Jump your feet back towards your hands. <br>
                6.Now, jump into the air and stretch your arms above your head. <br>
                7.Land in the initial standing position. <br>
                8.This is one rep. You can repeat the exercise as many times as you can. <br>


                  </span></p>


          </div>
        </section>
        <section class="section">
          <div class="wrap">
<!--excercise 9-->
            <h3>Medicine Ball Lift With Hip Rotation:</h3>

            <p>
              <img src="{% static 'train/medicine ball lift with hip rotation.jpg' %}" alt="Hatha Yoga" class="img-responsive">
            </p>
            <p  class="addReadMore showlesscontent">
              Medicine ball slams are an excellent form of upper body plyometric training designed to enhance all-around power and strength. For anyone who adds medicine
              ball slams to their workout routine, the movement can help enhance overall athletic performance, improve cardiovascular conditioning, and develop multi-directional core strength. <br>

              While they involve throwing, medicine ball slams aren't just an arm exercise; they actually work your entire body. Your lower body and core
              have to engage and help protect your spine as you perform the forceful throws. Your cardiovascular system also has to work hard to keep up with energy demands, pumping up your metabolism to burn serious calories. <br>

              Slams are an excellent choice to include in a high-intensity interval training (HIIT) routine or to add as a cardiovascular finisher to the end of a strength
              training workout.
              <span id="dots">...</span><span id="more8"> <br> <br>
               <strong>
                Step-By-Step Instructions:</strong><br>
                All you need to perform medicine ball slams is a little bit of open space (not much is required, but you'll probably want at least a 5-foot by 5-foot area) and a medicine ball. While in most cases you can use just about any type of medicine ball,
                a slam ball is the safest option out there. <br>

                Slam balls are softer, with a little more give. This means they won't bounce the way standard medicine balls can, providing more forgiveness and preventing the injuries that can happen if you throw a firmer ball and it
bounces forcefully back at you. <br>
<br>
1.To start, stand tall with your feet roughly shoulder-width apart, your knees and hips slightly bent, holding a medicine ball in both hands at your torso. Engage your core, drawing your abs toward your spine and rolling your shoulders back to start with perfect posture. <br>
2.Squat down slightly to load the spring. Then, in one powerful motion, inhale and press through your heels before rising up on the balls of your feet. Extend your knees and hips as you rise to power the upward swing of your arms and lift the medicine ball overhead. The ball should be almost straight overhead with your arms extended at the height of the movement. Keep your arms straight, not leaning back so the ball is behind you. <br>
3.Use your core and your arms to slam the medicine ball straight down between your feet with as much force as you can. Press your hips back and bend your knees to further power the slam. Exhale as you slam the ball down. <br>
4.Squat down to pick up the ball from the floor, then immediately move into the next slam by powerfully using your calves, quads, hamstrings, and glutes to rise up to standing. Come up on the balls of your feet again as you lift the medicine ball overhead. <br>
5.Continue for a full set of slams (either a number of reps or a time interval). <br>
<br>
<strong>Benefits:</strong><br>
Medicine ball slams really do hit just about every major muscle group, making them an excellent addition to high-intensity workout routines. In just your upper body, your shoulders, chest, biceps, triceps, and upper back are all involved in the lifting and throwing phases of the exercise.2﻿ <br>
<br>
<strong>1.Full-Body Workout.</strong> <br>
Even though the movement looks upper-body focused, your lower body and core also have to engage to provide the power and spring for the lift and throw. Medicine ball slams require a coordinated effort between your upper and lower body to maintain the flow of the exercise.
This exercise requires your core muscles—including your glutes, abdominals, low back, spinal erectors, and even your rotator cuffs—to work together to power the movement. Done regularly, this means medicine ball slams can help enhance core strength and stability.3﻿
One of the key benefits of incorporating this exercise into your workout routine is that it improves coordination between your upper and lower body. <br>
<br>
<strong>2.Increasing Agility.</strong> <br>
Whether you're an athlete who needs agility on the court or field, or you just want to move more smoothly through life, improved coordination powered by enhanced core stability and strength can help you adjust to unexpected physical challenges or barriers you might face throughout the day.
For instance, if you have to run to pick up a soccer ball before it rolls into the street, or if you want to catch your balance before you fall, being able to remain in control of your limbs while using your core can help prevent injury. <br>
<br>
<strong>3.Increased Metabolism.</strong>  <br>
Medicine ball slams can also really torch your metabolism. Incorporating powerful, full-body, repetitive exercises into your routine means your cardiovascular system has to work harder to provide oxygen to your working muscles, particularly when performing the exercise for a sustained period of time, like a 60-second circuit.
That said, even if you're doing lower-repetition slams using heavier weight, your excess post-exercise oxygen consumption (EPOC) increases in the 24 to 48 hours after this type of high-intensity training, which helps keep your metabolism humming. The overall result, when incorporated regularly into a workout routine, is improved overall conditioning. <br>


                  </span></p>


          </div>
        </section>
        <section class="section">
          <div class="wrap">
                                         <!--excercise 10-->
            <h3>Fast Rotation:</h3>

            <p>
              <img src="{% static 'train/fast rotation.jpg' %}" alt="Hatha Yoga" class="img-responsive">
            </p>
            <p  class="addReadMore showlesscontent">Foundational movement patterns such as the squat, lunge, hinge, push, and pull are great, but they do not include rotation. Rotation is sometimes viewed as
              a dangerous movement pattern. This is not the case if the exercises are performed with proper technique. Technique and weight determine how your body responds to exercise. <br>

              When you combine bad form with heavy weight to any movement, you are more likely to get injured. However, if you improve rotational
              strength, you significantly decrease the chance of injury. <br>

              Rotation of the body alone is a key component to improving fitness level and athletic performance. Unfortunately, it cannot be trained at the same time another
              other movement pattern is taking place. But it can be added on top of another exercise. <br>

              Rotational movements start with thoracic spine rotation and core power. The abdominal muscles make up the midline of the body and are responsible for
              all movement. They stabilize the body and transfer power from the upper body to the lower body and vice versa. Let's look into what rotational strength is and how to improve it.

              <span id="dots">...</span><span id="more9"> <br> <br>
               <strong>Why Being Strong in Rotational Movements Benefits You:</strong><br>
               Rotational training translates not only to all sports but everyday life activities. Training rotation allows your body to execute movements during the
day with strength and power. This support helps you avoid serious injuries. <br>
<br>

Rotational exercises work through the hips and trunk. Better functional strength in the trunk
muscles will improve torso rotation. This will lead to efficient movement in everything your client does during training. <br>
<br>

The core is responsible for all movement and without it, your body does not have a base of support or stability.
Here are some other methods to incorporate in your core training. <br>
<br>

Review the following list of benefits with your clients so they understand the importance of including rotational exercises. <br>

1.Improve hip mobility <br>

2.Better lower back health <br>

3.Increase performance <br>


5.Reduce risk of injury <br>

6.Improve other lifts <br>

7.Increase speed and acceleration <br>
<br>
You can implement rotational exercises into your client's training program in different ways. Adding rotation to the list of your foundational movement patterns is one of the easiest ways. You can also consider integrating rotational exercises at the beginning
of a workout during a mobility routine. Or even at the end of the workout. Figure out what works best for your client and help them hit that next level of fitness! <br>

                  </span></p>


          </div>
        </section>
        <section class="section">
          <div class="wrap">
                                                  <!--excercise 11-->
            <h3>Dumbbell Incline Press:</h3>

            <p>
              <img src="{% static 'train/dumbbell incline press.jpg' %}" alt="Hatha Yoga" class="img-responsive">
            </p>
            <p  class="addReadMore showlesscontent"><strong>
              How To Perfect An Incline Dumbbell Press?</strong><br>
              When it comes to building upper body strength, chances are high that people will go for bench press. And why not! The workout has long been considered one of the best and effective ways
to focus not just the chest but also arms and core muscles. <br>

But amidst the popularity of bench press, people often do not talk about another variation of bench press that is even more effective than its original
form. That exercise is none other than an incline dumbbell press. <br>

Also known as incline bench chest press, this bench press is a worth-while chest builder that works on your deltoid,
trapezius, and triceps too. Your chest muscles also get the much-needed pump as you extend your arms up to push the weights up the ceiling. This is why it is also considered one of the best dumbbell exercises you can use for upper body. <br>

So, if you have been dreaming of getting athlete-like physique and an upper body you can flaunt at the gym or beach, make sure
you include incline bench press exercise in your daily workout. That being said, performing an incline bench press perfectly is not an easy task. You need strong muscles and stability to learn the right technique and maintain a suitable form. For this, you will need an expert’s supervision. In case you are doing incline bench press at home, you can take online classes and learn how to perfect an incline dumbbell bench press. <br>

We have also shared some of the best techniques and tips to ensure you follow the right instructions during incline bench
press workout. Keep reading and learn them right away. We have also jotted down some FAQs at the end so make sure you don’t leave the article midway. Let’s start!

              <span id="dots">...</span><span id="more10"> <br> <br>
               <strong>How To Do Incline Dumbbell Press::</strong><br>
               1.Start by first selecting the right weights. While you can also do incline barbell bench
press, we are focusing on dumbbells. So, pick weights that you feel are not too heavy since incline press requires more effort than the basic bench press. <br>

2.Next, adjust the bench to an angle of 30-45 degrees. The best angle for incline bench press is
30 degrees but again it can vary depending on your comfort and choice. <br>

3.Sit straight on the bench and hold two dumbbells in the creases of your hips. <br>
4.Slowly lie back on the bench. Your elbows should be close to your and wrists facing away. <br>

5.Exhale and engage your core. Your feet should be flat on the floor and the hips on the
bench. As you push the dumbbells towards the ceiling, make sure your head is relaxed against the bench and your eyes are focused on the ceiling. <br>

6.Pause for a second and slowly lower the dumber back while inhaling. Your upper arms
 should be slightly past your back and your elbows should make an angle of 45 degrees to your torso.  <br>

7.Pause again for a second at the bottom of the rep. Repeat. <br>

8.As for the sets, try to do at least 3 reps of 5 reps. <br>

9.Once you have completed your sets,  gradually sit up and place the dumbbells on your
knees. Then, drop them down before you stand up. Rushing to place the dumbbells on the floor can lead to a sudden stretch and also cause injury. <br>
<br>

In case you are doing incline barbell bench press, use a barrack for placing the barbell.
and your grip on the barbell should be shoulder-width apart. The other steps are the same
as mentioned above. <br>
<br>
<strong>Things To Keep In Mind To Ensure A Perfect Incline Dumbbell Press:</strong><br>
Finally, it is time to unveil a few tips or things you should consider to ensure your form
and technique of incline bench press exercise is correct. These will also help you if you
wish to include incline dumbbell bench press in your home workout: <br>
<br>
1.The Best Angle.
The angle you select during your incline dumbbell press plays a vital role in improving its efficiency and enhancing its effects. People often go for an angle between 30-45 degrees. But if you wish to focus on your chest, the best angle for incline bench press would be 30 degrees. It maximizes the clavicular head activation and lets you develop the chest muscles. For focusing on the shoulders as much as the chest, 45-degree incline is suitable. <br>

<br>
2.The Weights. <br>
In case you are not sure about your strength and stability, try barbell as weight as it can ensure there is no off balance; thereby reducing chances of an improper form. For dumbbells, it is recommended that you should not lift too heavy weights as this can again lead to instability and excessive stress. This can do more harm than good. <br>
<br>

3.The Wrists. <br>
Your wrists need to be at the right position or they can get injured. Make sure they are straight and in line with your forearms. Avoid bending or twisting them backwards when you push the weights up as this leads to unnecessary strain. <br>
<br>

4.The Tempo. <br>
When you are performing the incline dumbbell bench press, going swiftly will not be of much help. Instead, going fast will create a stretch reflex. You should try to slow down the process and take at least 3-4 seconds to lower the weight. This will eliminate the stretch reflex and ensure that you exercise harder. <br>







                  </span></p>


          </div>
        </section>
        <section class="section">
          <div class="wrap">
                                               <!--excercise 12-->
            <h3>Explosive Push Ups:</h3>

            <p>
              <img src="{% static 'train/explosive pushups.jpg' %}" alt="Hatha Yoga" class="img-responsive">
            </p>
            <p  class="addReadMore showlesscontent"><strong>What is a push-up exercise?</strong><br>
              A push-up or a press-up is "a common strength training exercise performed in a prone position, lying horizontal and face
down, raising and lowering the body using the arms."Calisthenics exercises such as the push-up workout is known for their profound effects on the chest, arms and shoulders. Due to the support required from other muscles a wider range of muscles are integrated into the exercise. Mastering a perfect push-up workout is neither a herculean task nor an easy one! With the right conviction and input, you can ace it like a fitness trainer. <br>

<br>
<strong>Why is pushup exercise important?</strong><br>
Pushup exercise is relevant as long as there is ground and apart from the standard ones you can learn
different types of pushup exercise at the comfort of your homes as well. Not all have expertise when it comes to exercise, so practicing the right set is also vital for sustained benefits.

              <span id="dots">...</span><span id="more11"> <br> <br>
               <strong>What are the different types of pushup exercise at home?</strong><br>
               Based on beginner, intermediate and advanced levels there are different types of pushup exercise
one can learn.Beginner <br>
<br>
<strong>1. Off a table. </strong><br>
Gradual progress from wall push ups to table push ups is what this pushup exercise is. <br>
<br>

<strong>2.Modified push up. </strong><br>
This is identical to a regular pushup exercise but performed on your hands and knees, with
your feet rising off the floor as your upper body lowers. It takes a lot of the work away from your abs and legs, so its a great way to practice for the real thing. <br>
<br>
<strong>3. Standard.</strong> <br>
Kudos for having mastered the standard pushup exercise with rigorous practice. Intermediate <br>
<br>

<strong>4. Negative (eccentric) pushup. </strong><br>
Looking to make the pushup workout more challenging? Then the negative pushup exercise is
apt. Performed by controlling the tempo of repetition and slowing down the lowering phase
it intensifies the pushup exercise session. Begin in your plank position. Start to bend the elbows and slowly lower the chest towards the floor, keeping control as you descend. If you can't perform a full push up, use your knees, while keeping a hollow body, to push back up to the starting position. <br>
<br>
<strong>5. Decline push ups.</strong> <br>
Place the lower body on an elevating surface such as a bench or stairs and then do the regular routine. This focuses on the lower core and improves its strength considerably. <br>
<br>
<strong>6. Plyo push up.</strong> <br>
In simple words, a pushup exercise with a jumping element is what the plyo push-up is.
This challenging and explosive pushup exercise aims to improve cardiovascular health significantly. This exercise is best suited for individuals with well-developed upper-body strength. <br>
<br>
<strong>7. Explosive with a clap. </strong><br>
Leave the floor, clap your hands and then return. As challenging as it sounds, this pushup
exercise boosts the energy rush and improves stability. <br>
<br>

<strong>8. Hands close pushup.</strong> <br>
A simple variation makes you feel the burn in new places. Set up with your hands directly under your chest muscles and perform a pushup with this narrow stance. Theres more tricep muscle involved in this variation when compared to a standard pushup. <br>
<br>
<strong>Different types of pushup exercise at home to fit in your day to day life.</strong><br>
<br>
<strong>1.Off the wall.</strong> <br>
These are basically wall push-ups which greatly reduces the amount of weight your muscles have to support. <br>
<br>

<strong>2.Knuckle.</strong> <br>
Just to make things tougher, from placing the palm on the floor make it to a knuckle and do the pushup exercise. <br>
<br>

<strong>3.Lateral pushup walk.</strong> <br>
Utilize that extra space at home to gain mastery at doing the pushup exercise. Perform a pushup then walk your hands and feet one step to the right. After you take a step to the right, perform another pushup, then take a step back to the left and repeat. <br>
<br>
<strong>What are the benefits of pushup exercise?</strong><br>
1.Builds upper body strength <br>
2.Enhance cardiovascular system <br>
3.Increase functional strength via full body activation <br>
4.Muscle stretching for health and vitality <br>
5.Improves posture <br>
6.Strengthens triceps and biceps, pectoral muscles, shoulders and lats <br>
7.Prevent lower back injuries <br>
8.Increase testosterone and reduce osteoporosis development <br>
9.Strengthen the lower back and core by engaging the abdominal muscles. <br>
10.If sculpted arms and strengthened core is what you envision, think no further as the 30 days push-up challenge guarantees you that! It is also a perfect workout for teenagers to kick start their journey of staying fit. <br>
<br>
<strong>Disadvantages of pushup exercise?</strong><br>
1.Reaching a fitness plateau <br>
2.Back pain <br>
3.Wrist pain <br>
4.Elbow injury <br>
<br>
<strong>Dos and dont's of pushup exercise.</strong><br>
<br>
<strong>Dos.</strong> <br>
1.The hands must be slightly wider than shoulder width apart. <br>
2.Feet must be positioned in a comfortable manner. Wider apart the feet, the more stable your pushup will be. <br>
3.The body must be in a one straight line. <br>
4.Be remindful to engage the core. <br>
5.The chin should be the first part of the head that touches the floor, not the nose. <br>
6.The arms must be straight and supporting your weight when at the top of the pushup. <br>
7.Perform partial reps in a full pushup position. <br>
8.Move as a single, solid entity. <br>
<br>
<strong>Dont's</strong><br>
1.Belly or hips must not be dropped at any cost. <br>
2.Limited motion while doing a standard push up is not recommended. <br>
3.Experimenting with other variations of pushups without proper strength and endurance to do them does more harm than good. It is better to start on easy variations first and do them properly. <br>
4.Do not forget to inhale and exhale in an attempt to race the clock. Doing slow push ups with regular breathing is far more beneficial than doing 100 reps in a jiffy. <br>





                  </span></p>
          </div>
        </section>
 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
    function AddReadMore() {

        var carLmt = 400;
        var readMoreTxt = "Read More";
        var readLessTxt = "Read Less";
        $(".addReadMore").each(function() {
            if ($(this).find(".firstSec").length)
                return;
            var allstr = $(this).text();
            if (allstr.length > carLmt) {
                var firstSet = allstr.substring(0, carLmt);
                var secdHalf = allstr.substring(carLmt, allstr.length);
                var strtoadd = firstSet + "<span class='SecSec'>" + secdHalf + "</span><br><br><button class='btn' id='readMore'  title='Click to Show More'>" + readMoreTxt + "</button><button class='btn' id='readLess' title='Click to Show Less'>" + readLessTxt + "</button>";
                $(this).html(strtoadd);
            }

        });
        $(document).on("click", "#readMore,#readLess", function() {
            $(this).closest(".addReadMore").toggleClass("showlesscontent showmorecontent");
        });
    }
    $(function() {
        AddReadMore();
    });
    </script>
  {% endblock %}