<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>System Zombies Strength and Training</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One%7COpen+Sans:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="{% static 'train/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'train/main.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'train/styles.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'train/favicon.ico' %}"/>
        {% block script %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'train/logo.jpg' %}" height="70" width="80"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                            <!--Staff Portal-->
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'newsession' %}">New Session</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'editsession' %}">Edit Session</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'exerciseview' %}">Exercises</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Routines </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{% url 'newroutine' %}">New Routine</a>
                                    <a class="dropdown-item" href="{% url 'routinelist' %}">Edit/ Archive Routines</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'charts' %}">Charts</a>
                            </li>
                        {% else %}
                            <!--Client Portal-->
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'clientroutines' %}">My Routines</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'clientprogress' %}">Strength Progress</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="{% url 'event' %}">Events</a>
                            </li>
                        <li class="nav-item">
                            <b><a class="nav-link disabled">Logged in as {{request.user}}</a></b>
                        </li>
                    {% else %}
                        <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                            </li>
                        <li class="nav-item">
                                <a class="nav-link" href="{% url 'event' %}">Events</a>
                            </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
      </header>
     <div class="hero hero--landing" style="background-image: url('/static/train/hero-landing.jpg');">
        <div class="hero__wrap wrap">
          <div class="hero__content">
            <h1 class="hidden">Welcome to System Zombies!</h1>
            <h2 class="hero__tagline">
              Strength and conditioning.<br>
              Become Fit!
            </h2>
            <a href="{% url 'register' %}" class="hero__btn-cta btn btn--primary">
              Join Now
            </a>
          </div>

        </div>
      </div>
      <section class="section">
        <div class="wrap">
          <h2 id="membership">Membership</h2>
          <div class="listings row">
            <div class="listings__item col col--4md">
              <div class="listings__item-content">
                <span class="listings__item-title"> ₹1000</span>
                <span class="listings__item-prop">3 Month</span>
              </div>
            </div>
            <div class="listings__item col col--4md">
              <div class="listings__item-content">
                <span class="listings__item-title"> ₹3000</span>
                <span class="listings__item-prop">9 months</span>
                <span class="listings__item-prop"></span>
              </div>
            </div>
            <div class="listings__item col col--4md">
              <div class="listings__item-content">
                <span class="listings__item-title"> ₹3500</span>
                <span class="listings__item-prop">12 months</span>
              </div>
            </div>
          </div>

          <p>
            All tiers include access during open hours and <strong>a free personal training session</strong> every 3rd month. Our features:
          </p>
          <ul class="ulp">
              {% for j in list %}
              <li>{{j.name}}
              </li>
              {% endfor %}
          </ul>
          <p>
          Sign up and manager your membership now.
          </p>
          <p>
            <a href="{% url 'register' %}" class="btn">
               Join now
            </a>
          </p>
            <p>We have Staff with good skills and experience in training </p>
            <table id="trainers">
                <thead>
                <th>Trainer</th>
                <th>Experience</th>
                </thead>
                {% for i in trainer %}
                <tr>
                    <td>{{i.first_name}}</td>
                    <td>{{i.id}}</td>
                </tr>
                {% endfor %}
            </table>
          <h3> Image Gallery</h3>
          <div class="row">
            <div class="img-item col col--4md">
              <a href="{% static 'train/gym-environment1.jpg' %}" target="_blank">
                <img src="{% static 'train/gym-environment1.jpg' %}" alt="Training area 1" class="img-responsive">
              </a>
            </div>
            <div class="img-item col col--4md">
              <a href="{% static 'train/gym-environment2.jpg' %}" target="_blank">
                <img src="{% static 'train/gym-environment2.jpg' %}" alt="Training area 2" class="img-responsive">
              </a>
            </div>
            <div class="img-item col col--4md">
              <a href="{% static 'train/gym-environment3.jpg' %}" target="_blank">
                <img src="{% static 'train/gym-environment3.jpg' %}" alt="Training area 3" class="img-responsive">
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="section section--alt">
        <div class="wrap">
          <h2>Training</h2>
          <p>
            Our personal training packages lets you reach your goal faster by pairing up with one of our super-qualified coaches. Here are our affordable pricing tiers:
          </p>
          <ul class="listings row">
            <li class="listings__item listings__item--alt col col--6md">
              <p class="listings__item-content listings__item-content--alt">
                <span class="listings__item-title">₹1000</span>
                <span class="listings__item-prop">for 3 Month</span>
              </p>
            </li>
            <li class="listings__item listings__item--alt col col--6md">
              <p class="listings__item-content listings__item-content--alt">
                <span class="listings__item-title">₹3000</span>
                <span class="listings__item-prop">for 9 Month</span>
              </p>
            </li>
            <li class="listings__item listings__item--alt col col--6md">
              <p class="listings__item-content listings__item-content--alt">
                <span class="listings__item-title">₹3500</span>
                <span class="listings__item-prop">for 1 Year</span>
              </p>
            </li>
          </ul>
          <p>
            Sign up for membership first and you'll be able to add sessions from your dashboard online.
          </p>
          <p>
            <a href="{% url 'register' %}" class="btn">
              Join Now
            </a>
          </p>
        </div>
      </section>
      <section class="section">
        <div class="wrap" style="{% static 'train/hero-events.jpg' %}">
          <h2>Future Events</h2>
          <h3>Workshop: Yoga</h3>
          <p>
            Yoga workshop will soon be available !!
          </p>
          <p>
            <img src="{% static 'train/event-picture.jpg' %}" alt="Yoga" class="img-responsive">
          </p>
          <p>
            Join guest trainers Natalie and Haley for 90 minutes of candlelit gentle  Yoga. Gentle Hatha is a blend between intentional movement and supported stretches fit for all body types. We’ll gently flow for the first half of class, ending with yin-like postures and a long relaxing savasana and massage. Suitable for all levels. Pre-registration in person is required as class size is limited.
          </p>
          <p>
            <a href="{% url 'event' %}" class="btn">
              Events
            </a>
          </p>
        </div>
      </section>
    </div>
    <footer class="footer">
      <div class="wrap">
        <p class="footer__cta">
          Great physique awaits you.<br>
          <a href="{% url 'register' %}" class="footer__btn-cta btn btn--primary">
            Register Now
          </a>
        </p>
        <p class="footer__copyright">
        &copy;System Zombies
        </p>
        <p class="footer__note">
        </p>
    </footer>
  </main>
  <script src="{% static 'train/modernizr.js' %}"></script>
</body>
</html>